<div class="home">
    <h1>Productos</h1>
    <div>
        <form id="pagination-form">
            <div>
                <label for="limit">Paginacion:</label>
                <select id="limit" name="limit">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                </select>
            </div>
            <div>
                <label for="sort">Sort:</label>
                <select id="sort" name="sort">
                    <option value="">Ninguno</option>
                    <option value="asc">A-Z</option>
                    <option value="desc">Z-A</option>
                </select>
            </div>
            <div class="slider-container">
                <label for="minPrice">Precio mínimo: $<span id="minPriceValue">0</span></label>
                <input type="range" id="minPrice" min="0" max="1000" value="0">
            </div>
            <div>
                <button type="submit">Filtrar</button>
            </div>
        </form>

        <div id="boxProducts" class="boxProducts"></div>
        <div id="pagination-controls">
            <!-- Los botones de paginación se insertarán aquí -->
        </div>
    </div>
</div>
<script src="./js/index.js"></script>