<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Herramientas Morelli</title>
</head>

<body>

    <header>
        <div>
            <a href=""><img src="Logo" alt="Logo" title="Inicio"></a>
            <input type="text" placeholder="Buscar productos...">
            <a href=""><img src="Buscar" alt="Buscar" title="Buscar"></a>
            <a href=""><img src="Cart" alt="Carrito" title="Carrito de Compras"></a>
        </div>

        <nav>
            <ul>
                <li>Inicio</li>
                <li>Materiales de Construccion</li>
                <li></li>
            </ul>
        </nav>
        <a href=""><img src="Cart" alt="Carrito" title="Carrito de Compras"></a>
    </header>

    <main>
        {{{body}}} <!-- Aqui va el contendio que se almacena en la de "views"(son como componentes.-->
    </main>

    <footer>

    </footer>
</body>

</html>