<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Herramientas Morelli</title>
</head>

<body>

    <header>

        <div>
            <a href="" class="logo"><img src="/img/logo.png" alt="Logo" title="Inicio"></a>
            <div class="header-right">
                <input type="text" placeholder="Buscar productos...">
                <a href=""><img src="https://img.icons8.com/?size=100&id=7695&format=png&color=000000" alt="Buscar"
                        title="Buscar"></a>
                <a href=""><img src="https://img.icons8.com/?size=100&id=ii6Lr4KivOiE&format=png&color=000000"
                        alt="Carrito" title="Carrito de Compras"></a>
            </div>

        </div>
        <nav>
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="nav-list">
                <li><a href="">Inicio</a></li>
                <li><a href="">Productos</a></li>
                <li><a href="">Materiales de Construccion</a></li>
                <li><a href="">Herramientas</a></li>
                <li><a href="">Herrameintas Electricas</a></li>
                <li><a href="">Combos</a></li>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{{body}}} <!-- Aqui va el contendio que se almacena en la de "views"(son como componentes.-->

        <section id="contacto">
            <h2>Contacto</h2>
            <div class="contact-container">
                <div class="contact-info">
                    <p><strong>Teléfono:</strong> +54 9 1234 5678</p>
                    <p><strong>Email:</strong> contacto@ejemplo.com</p>
                    <p><strong>Ubicación:</strong> Buenos Aires, Argentina</p>
                    <ul>
                        <li><a href="https://wa.me/5493487512474?text=Hola%2C%20me%20estoy%20comunicando%20desde%20tu%20portafolio.
                            " target="_blank"><img src="./img/whatsapp.png" alt="WhatsApp Icon"> WhatsApp</a></li>
                        <li><a href="https://www.instagram.com/benjipeyraga/" target="_blank"><img
                                    src="./img/instagram.png" alt="Instagram Icon"> Instagram</a></li>
                        <li><a href="mailto:benjapey99@gmail.com" target="_blank"><img src="./img/email.png"
                                    alt="Email Icon">
                                Email</a></li>

                    </ul>
                </div>
                <div class="contact-form">
                    <h3>Formulario de Contacto</h3>
                    <form action="/php/form.php" method="POST">
                        <label for="name">Nombre:</label>
                        <input type="text" id="name" name="name" required>

                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                        
                        <label for="asunto">Asunto:</label>
                        <input type="text" id="asunto" name="asunto" required>

                        <label for="textarea">Mensaje:</label>
                        <textarea id="textarea" name="textarea" rows="5" required></textarea>

                        <button type="submit">Enviar</button>
                    </form>
                </div>
            </div>

        </section>
    </main>

    <footer>
        <p>&copy; 2024 Herramientas Morelli</p>
        <p>_____________________________</p>
        <br>
        <p>Última Actualización: 22/8/24</p>
        <p>Desarrollado por <a href="https://github.com/Ragepay/" target="_blank"> <img src="/img/github.png"
                    alt="GitHub Icon"></a></p>

    </footer>
    <script src="/js/main.js"></script>
</body>

</html>